* {
    margin: 0;
    padding: 0;

}

body {
  font-family: Arial, sans-serif;
  color: #122eaa;
  background: linear-gradient(to right, rgb(163, 204, 247), #67aef6);

}

/* Barra de Navegação */



/* Botões */


