* {
    margin: 0;
    padding: 0;

}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(163, 204, 247);
  color: #ffffff;
}

.botoes-container {
    display: flex;
    gap: 15px; /* espaço entre os botões */
    justify-content: center; /* opcional: centraliza */
    flex-wrap: wrap; /* evita quebrar em telas pequenas */
    margin-top: 20px;
}

.botao-ajuda {
    display: inline-block;
    padding: 10px 20px;
    background-color: #223ccd;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    font-weight: bold;
}

.botao-colab {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #223ccd;
    text-decoration: none;
    border: 2px solid #223ccd;
    border-radius: 25px;
    font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3d99fbdb;
  padding: 3px 30px;
  flex-wrap: wrap;
  height: 60px; /* Altura fixa da barra */
  overflow: hidden; /* Garante que o conteúdo não estoure */
}

.logo {
  height: 50px;   /* Ajuste o tamanho da imagem */
  width: auto;
  object-fit: contain; /* Garante que não distorça */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #e0e0e0;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}


