{% extends "base.html" %}

{% block titulo %} Nossas Ações {% endblock %}

{% block conteudo %}

    <!-- Título -->
    <h2> Nossas Ações </h2>

    <!-- Texto Breve -->
    <p>Conheça as principais ações que desenvolvemos para transformar vidas e fortalecer nossa comunidade. Cada projeto é pensado para gerar impacto real e duradouro na vida das pessoas.</p>

    <!-- Lista de Ações --> 
     
    

    <!-- Propor uma Ação -->
    <h3>Quer Propor uma Nova Ação?</h3>
    <p>Tem uma ideia de projeto social? Entre em contato conosco e vamos construir juntos uma nova iniciativa!</p>
    
    <!-- Formulário de Solicitações -->


{% endblock %}