{% extends "base.html" %}

{% block titulo %} Ser Solidário {% endblock %}

{% block conteudo %}
    <!-- Título e texto Breve -->
    <h2>Entre em Contato</h2>
    <p>Estamos sempre prontos para ouvir você! Entre em contato conosco para tirar dúvidas, propor parcerias, sugerir novas ações ou simplesmente conversar sobre como podemos trabalhar juntos por uma sociedade mais solidária.</p>

    <!-- Formulário de Contato -->

    <!-- Nossas Informações -->

    <!-- Redes Sociais -->
     
    
{% endblock %}


