{% extends "base.html" %}

{% block titulo %} Quero Colaborar {% endblock %}

{% block conteudo %}

    <!-- Bloco de Texto Informativo -->
    <div>
    <p>Que maravilhoso que você quer fazer parte da nossa rede de solidariedade! Existem várias formas de contribuir, desde doações até trabalho voluntário. Preencha o formulário abaixo e vamos encontrar a melhor forma de você ajudar.<br>
    Juntos, podemos transformar vidas e construir uma sociedade mais justa e solidária.</p>
    </div>
    
    <!-- 3 Blocos Informativos -->

    <div> Voluntariado - Doe seu tempo e habilidades para causas importantes</div>
    <div> Doações - Contribua com recursos financeiros ou materiais</div>
    <div> Parcerias - Empresas e organizações podem ser nossas parceiras</div>

    <!-- Formulário de Voluntário -->

{% endblock %}


