{% extends "base.html" %}

{% block titulo %} Preciso de Ajuda {% endblock %}

{% block conteudo %}

       <h1> Preciso de Ajuda </h1>

    <!-- Bloco de Texto Informativo -->

    <div>
        <p>Estamos aqui para ajudar você! Preencha o formulário abaixo com suas informações e descreva como podemos apoiá-lo. Nossa equipe analisará sua solicitação e entrará em contato o mais breve possível.</p>

        <p>Todas as informações são tratadas com total confidencialidade e respeito.</p>
    </div>

    <!-- 3 blocos de Texto Informtativo -->

    <div>
        Confidencial - Suas informações são protegidas e tratadas com sigilo
    </div>

    <div>
        Suporte Humano - Nossa equipe está preparada para acolher e orientar
    </div>

    <div>
        Sem Julgamentos - Oferecemos apoio com empatia e compreensão
    </div>
    
    <!-- Formulário de Solicitações -->


{% endblock %}
