{% extends "base.html" %}

{% block titulo %}Jovem Conectado{% endblock %}

{% block conteudo %}

<h1>Jovem Conectado</h1>

<!-- Bloco de Texto -->
<div>
    <p>O programa Jovem Conectado foi criado especialmente para capacitar jovens de 16 a 25 anos, oferecendo ferramentas e conhecimentos para que se tornem protagonistas de mudanças positivas em suas comunidades.<p>
    <p>Através de cursos, workshops e mentorias, desenvolvemos habilidades técnicas e socioemocionais que preparam os jovens para o mercado de trabalho e para a vida.</p>
</div>

<h2>Nossos Programas</h2>

<!-- Programas Disponíveis -->

<h3>Próximos Eventos</h3>


<h3>Depoimentos</h3>


{% endblock %}