<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jovem Conectado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <h1>Jovem Conectado</h1>






    
<!--    
    <div class="help-feature">
        <i class="fas fa-question-circle"></i>
    </div>

    <div class="help-feature">
        <i class="fas fa-shield-alt"></i>
    </div>

    <div class="help-feature">
        <i class="fas fa-users"></i>
    </div>

    <div class="help-feature">
        <i class="fas fa-heart"></i>
    </div>
-->




</body>
</html>